<div class="fade-in">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header"><strong>Danh sách khách hàng</strong></div>
                <div class="card-body">
                    <button class="btn btn-secondary mb-1" type="button" data-toggle="modal" data-target="#myModal"><i
                            class="fa fa-plus"></i> Thêm mới</button>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th >Id</th>
                                <th>Khách hàng</th>
                                <th>Điện thoại</th>  
                                <th>Tong so</th>                                
                                <th>Cập nhật</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let item of sales">
                            <tr>
                                <td >{{item.SoId}}</td>
                                <td>
                                    <a [routerLink]="['/saleDetailView',item.SoId]">{{item.CustomerName}}</a>
                                </td>
                                <td>{{item.Phone}}</td>  
                                <td>{{item.TotalLine}}</td>                              
                                <td>{{item.ModifiedDate}}</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModal" class="btn btn-success"
                                        (click)="edit(item.SoId)"> <i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger " [swal]="
                                    {
                                      title: 'Are you sure?',
                                      text: '_text_!',
                                      type: 'warning',
                                      showCancelButton: true,
                                      confirmButtonColor: '#DD6B55',
                                      confirmButtonText: 'Yes, delete it!',
                                      closeOnConfirm: false
                                    }" (confirm)="delete(item.SoId)"> <i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- Modal Diaglog -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bán hàng</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form #myForm="ngForm" name="myForm">
                    <div class="row">
                        <input type="hidden" class="form-control" [(ngModel)]="sale.SoId" name="SoId" #SoId="ngModel">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="name">Khách hàng:</label>
                                <!-- <ng-select2 class="form-control" [data]="customers" [placeholder]="'Demo with options'">
                                </ng-select2> -->
                                <!-- <input class="form-control" id="CustomerId" [(ngModel)]="sale.CustomerId"
                                    name="CustomerId" #CustomerId="ngModel" type="text" required
                                    placeholder="Enter sale name"> -->
                                     <select class="form-control" id="CustomerId" 
                                            [(ngModel)]="sale.CustomerId"
                                            name="CustomerId" #CustomerId="ngModel" >
                                        <option *ngFor="let c of customers; let i = index" [value]="c.id">
                                            {{c.text}}
                                        </option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <form #myForm2="ngForm" name="myForm2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name">Sản phẩm:</label>
                                    <!-- <ng-select2 class="form-control"
                                                [data]="products"
                                                [placeholder]="'Demo with options'"></ng-select2> -->
                                    <!-- <input class="form-control" id="ProductName"
                                        [(ngModel)]="saleSubProduct.ProductName" name="ProductName"
                                        #ProductName="ngModel" type="text" placeholder="Enter ProductName name"
                                        required> -->
                                    <select class="form-control" 
                                            id="ProductName"
                                            [(ngModel)]="saleSubProduct.ProductName" name="ProductName"
                                            #ProductName="ngModel">
                                        <option *ngFor="let p of products; let i = index" [value]="p.id">
                                            {{p.text}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="name">Số lượng:</label>
                                    <input class="form-control" id="Quantity" [(ngModel)]="saleSubProduct.Quantity"
                                        name="Quantity" #Quantity="ngModel" type="number"
                                        placeholder="Enter Quantity name" required>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for="name">Action</label>
                                    <button class="form-control btn btn-info btn-sm" [disabled]="myForm2.invalid"
                                        type="button" (click)=" addSaleProductTable()">
                                        Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <table class="table table-bordered table-striped table-hover">
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Action</th>
                                    </tr>
                                    <tbody>
                                        <tr *ngFor="let item of saleProducts">
                                            <td>{{item.ProductName}}</td>
                                            <td>{{item.Quantity}}</td>
                                            <td>
                                                <button class="btn btn-danger btn-sm"
                                                    (click)="removeSaleProduct(item.ProductName)"> Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" (click)="resetForm()" type="button"
                    data-dismiss="modal">Close</button>
                <button class="btn btn-primary" (click)="save()" [disabled]="myForm.invalid" type="button">Save
                    changes</button>
            </div>
        </div>
        <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
</div>