<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/index">
                    <i class="nav-icon icon-speedometer"></i> Dashboard
                    <span class="badge badge-primary">NEW</span>
                </a>
            </li>
            <li class="nav-title">Apps</li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/customerView']" >
                    <i class="nav-icon icon-drop"></i> Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/productView']">
                    <i class="nav-icon icon-pencil"></i> Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/saleView']">
                    <i class="nav-icon icon-pencil"></i> Sales
                </a>
            </li>           
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>